@tailwind base;
@tailwind components;
@tailwind utilities;

/* ======== UX DE APP NATIVO ======== */
body {
  /* Remove aquele fundo azul irritante quando se clica em algo no telemóvel */
  -webkit-tap-highlight-color: transparent; 
  /* Evita que o utilizador selecione o texto da aplicação sem querer */
  user-select: none; 
}

/* Garante que os inputs continuam a poder ser selecionados para edição */
input, textarea, select {
  user-select: auto;
}
/* ================================== */
html, body {
  overscroll-behavior: none;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}